*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}

button {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: transparent;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button[disabled]{
  opacity: 0.5;
}
input::placeholder{
  color: transparent;
}

.container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  max-width: 320px;
}
.text{
  font-size: 1.5rem;
    font-weight: 500;
    color: white;
}
.title{
  color:white
}

.input_container{
  position: relative;
}
.input_text{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #cbe2f6;
    background-color: black;
    background-clip: padding-box;
    border: 1px solid #cbe2f6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline-width: 0;
}
.input_label{
  position: absolute;
    top: 0;
    left: 0;
    padding: 0.375rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    color: #cbe2f6;
}

.input_text:focus~label,
.input_text:not(:placeholder-shown)~label {
    top: -0.9rem;
    left: 1rem;
    font-size: 0.75rem;
    background: black;
    transition: top .2s ease-in-out;
    color: #cbe2f6

}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #cbe2f6;
  border-color: #cbe2f6;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  width: 100%;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.u-mt-0{
  margin-top:0;
}
.u-mt-1{
  margin-top: 1rem;
}
.u-mt-1-5{
  margin-top: 1.5rem;
}
.u-mt-2{
  margin-top: 2rem;
}
.u-mt-4{
  margin-top: 4rem;
}

.header_container{
  display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.75rem;
    color:white;
    background-color: #333131;
    
}
.header_button{
  display: flex;
    align-items: center;
}
.header_button button{
  color:white;
}
.game_options {
  background-color: #cbe2f6;
  border-radius: 6px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.game_options button {
  font-size: 3rem;
  padding: 1rem;
}
.home__container-icon{
  background: #ca98ca;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}
.home-icon{
  height: 2rem;
  margin-top:0.5rem
}